@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap");

:root {
  --primary-color: #2f2f2f;
  --text-dark: #18181b;
  --text-light: #71717a;
  --white: #ffffff;
  --max-width: 1200px;
  --header-fonts: "Lora", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section_conntainer {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
.section_header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--header-fonts);
  color: var(--text-dark);
}
.section_subheader {
  color: var(--text-light);
}
.btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--text-dark);
}
img {
  display: flex;
  width: 100%;
}
a {
  text-decoration: none;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("./assets/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_logo {
  flex: 1;
}
.nav_logo a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-fonts);
  color: var(--white);
}
.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.link a {
  position: relative;
  padding: 10px 0;
  color: var(--white);
  transition: 0.3s;
}
.link a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: var(--white);
  transition: 0.3s;
}
.link a:hover::after {
  width: 100%;
}
.nav_menu_btn {
  display: none;
  font-size: 1.5rem;
  color: var(--white);
}
.nav_actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
.nav_actions span {
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
}
.header_container {
  text-align: center;
  color: var(--white);
}
.header_container h1 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-weight: 600;
  width: 70%;
  margin-left: 15%;
  font-family: var(--header-fonts);
}
.header_container p {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}
.header_container form {
  width: 100%;
  max-width: 350px;
  margin-inline: auto;
  margin-bottom: 4rem;
  padding-block: 0.25rem;
  padding-inline: 1.25rem 0.25rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  border: 1px solid var(--white);
  border-radius: 5rem;
}
.header_container input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
}
.header_container input::placeholder {
  color: var(--white);
}
.header_container button {
  padding: 11px 12px;
  font-size: 1.25rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  cursor: pointer;
}
.header_container a {
  display: inline-block;
  padding: 0 12px;
  font-size: 3rem;
  color: var(--white);
  backdrop-filter: blur(10px);
  border: 1px solid var(--white);
  border-radius: 100%;
  margin-bottom: 2%;
}
